@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dddddddd;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.logo {
  width: 125px;
  height: 75px;
  cursor: pointer;
}

.navUl {
  display: flex;
  gap: 80px;
}

.navSecoes{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.carrinho {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Navbar Responsiva */
@media (max-width: 800px) {
  .navUl{
    display: inline-table;
  }
}

@media(min-width: 801px){
  .navUl{
    display: flex;
  }
}

.SectionHome{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  max-width: 90%;
}

.teste{
    background-color: blue;
}

.imgPrincipal {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulPrincipal {
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

.imgPrincipal {
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.imgPrincipal:hover {
  opacity: 0.8;
  transform: scale(1.01);
}

@media (max-width: 759px) {
  .imgPrincipal {
    flex-direction: column;
    display: grid;
    align-items: center;
  }

  .ulPrincipal {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 760px) {
  .imgPrincipal {
    display: flex;
    align-items: center;
  }

  .ulPrincipal {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

  /*Estilização seção Serviço*/

  .SectionServico{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 16px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-flexbox;
}

.TituloServico{
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.SubtituloServico{
    margin-left: 70px;
    margin-right: 70px;
}

.txtServico{
    font-size: 18px;
    margin-left: 90px;
    margin-right: 90px;
}

  /* Estilização da seção de Rodapé */

  .container2 {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .links-importantes, .redes-sociais, .contatos {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .centralizar{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
 
  }
  
  li a {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    color: #000000;

  }

  li p {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    color: #000000;
  }

  li a:hover {
    color: #000;
    color: #333;
  }
  
  .fa {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
  }

  /*Estilização dos direitos reservados*/

  .SectionCopy{
    display: flex;
    font-size: 10px;
    justify-content:center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    margin-right: 60px;
    margin-bottom: 30px;
}

