@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.logo {
  width: 125px;
  height: 75px;
  cursor: pointer;
}

.navUl {
  display: flex;
  gap: 80px;
}

.navSecoes{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.carrinho {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Navbar Responsiva */
@media (max-width: 800px) {
  .navUl{
    display: inline-table;
  }
}

@media(min-width: 801px){
  .navUl{
    display: flex;
  }
}


/* Estilização da seção Home*/


.SectionHome {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  max-width: 90%;
}

/* Estilização da seção Principal*/

.imgPrincipal {
  width: 100%; 
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulPrincipal {
  background-color: white;
  display: flex;
  justify-content: space-between  ;
  list-style-type: none;
  align-items: center;
  margin: 0; 
  flex-wrap: wrap; 
}

.imgPrincipal {
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.imgPrincipal:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Navbar Responsiva */
@media (max-width: 759px) {
  .imgPrincipal {
    flex-direction: column;
    display: grid;
    align-items: center;
  }

  .ulPrincipal {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .imgPrincipal {
    display: flex;
    align-items: center;
  }

  .ulPrincipal {
    flex-direction:row;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*Estilização da seção Sobre*/

.SectionSobre{
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    text-align:justify;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 1px;
    margin-left: 50px;
    margin-right: 50px;

}

.imgSobre{
    align-items: center;
    width: 400px;
    height: 300px;
}

.TituloSobre{
    font-size: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.txtSobre{
    font-size: 15px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top:30px;
}

/* Estilização da seção Serviços*/

.SectionServico{
   
    display: grid;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    padding: 12px;
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}

.btnServicos{
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 9px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
}

.TituloServico{
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Estilização da seção de produtos e suas respectivas imagens*/
.gallery {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 70px;
  }

  .tituloProdutos{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;

  }

  .image {
    margin: 10px;
    width: calc(33.33% - 80px);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
  }
  .image img {
    width: 100%;
    height: auto;
 
  }

.btnProdutos {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 9px;
    font-weight: bold;
    cursor: pointer;
}

.Nome{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    font-size: 18px;
    text-align: center;
}

.valor{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    font-size: 20px;
    text-align: center;
}

/*Estilização da seção de Feedback*/

.feedbacks {
    width: 80%;
    margin: 20px auto;
  }
  
  .feedback {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .feedback img {
    float: left;
    margin-right: 10px;
  }
  
  .feedback blockquote {
    font-style: italic;
    font-size: 16px;
    justify-content: space-between;
  }
  
  .feedback p {
    font-weight: bold;
    text-align: right;
  }
  
  .feedbacks {
    background-color: #f7f7f7;
  }

  .feedback {
    border-color: #ddd;
  }

  .feedback blockquote {
    color: #666;
  }
  
  .feedback p {
    color: #333;
  }

.tituloFeedback{
    font-size: 30px;
    margin-left: 12px;
    margin-bottom: 25px;
  }


  @media (max-width: 768px) {
    .feedbacks {
      flex-direction: column;
    }
  }

  /*Estilização da seção Cuidados e Alertas*/

.cuidado {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    border-color: #ddd;

}

  .cuidado h3 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  
  .cuidado p {
    font-size: 20px; 
    color: #666; 
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .cuidados h2{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
  }

  .btnCuidados{
    width: 20%;
    margin: 30px auto;
    background-color: black;
    color: white;
    border: 1px solid rgb(200, 200, 200);
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-top:auto;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    font-weight: bold;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    section {
      display: flex;
      flex-direction: column;
    }
  }

    /* Estilização seção de Formulário */

    form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #ddd;
    }

    h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #666;
    }
    

    .inputFormulario {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #ccc;
    }
    
    .btnFormulario {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    }

   .btnFormulario:hover {
    background-color: #000;
    }

    @media (max-width: 759px) {
      .form {
        display: grid;
      }
    
    }
    
    @media (min-width: 672px) {
      .form {
        display: grid;
      }
    }

    /* Estilização da seção de Rodapé */

    .divForm {
    justify-content: center;
    align-items: center;
    display: flex;  
    text-align: center;
  }

  .links-importantes, .redes-sociais, .contatos {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .centralizar{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
 
  }
  
  li a {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    color: #000000;

  }

  li p {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    color: #000000;
  }

  li a:hover {
    color: #000;
    color: #333;
  }
  
  .redeSocial {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
  }

  @media (maxwidth: 759px) {
    .divform {
      width: 80%;
    }
  
  }
  
  @media (min-width: 711px) {
    .divform {
      display: grid;
      flex-direction: column;
    }
  }

  /*Estilização dos direitos reservados*/

  .SectionCopy{
    display: flex;
    font-size: 10px;
    justify-content:center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    margin-right: 60px;
    margin-bottom: 30px;
}

